<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faizan.allconcepts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WebViewActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".api.VolleyActivity">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="myhost"
                    android:pathPrefix="/help"
                    android:scheme="myapp" />
            </intent-filter>
        </activity>
        <activity android:name=".mvvm.MvvmActivity" />
        <activity android:name=".Service.ServiceActivity"/>
        <activity
            android:name=".mvvm.AddEditNoteActivity"
            android:parentActivityName=".mvvm.MvvmActivity" />
        <activity android:name=".qrCode.QrCodeActivity" />
        <service android:name=".Service.MyService"/>
        <service android:name=".Service.MyBoundService"/>
    </application>

</manifest>